apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: default
spec:
  selector:
    app: nginx-app  # <--- You nailed this!
  ports:
    - protocol: TCP
      port: 80           # The Service Phone Number
      targetPort: 80  # The Container's Phone Extension