apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: development # <--- Which namespace?
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-server
        image: python:3.9 # <--- Use 'python:3.9'
        command: ["/bin/sh", "-c", "python -m http.server 8000"]
        ports:
        - containerPort: 8000
      - name: debug-sidecar
        image: busybox
        command: ["/bin/sh", "-c", "while true; do sleep 3600; done"]